OLD_APPLICATION/DayCare/Meetings.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <xsd:element name="Meetings" type="MeetingsType" />
    
    <xsd:complexType name="MeetingsType">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="Meeting" type="MeetingType" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="MeetingType">
        <xsd:sequence>
            <xsd:element name="Title"       type="xsd:string"/>
            <xsd:element name="MeetingDate" type="xsd:string"/>
            <xsd:element name="StartTime"   type="xsd:string"/>
            <xsd:element name="EndTime"     type="xsd:string"/>
            <xsd:element name="NoOfPatient"    type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>
    
</xsd:schema>            




